*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {

    height: 100vh;
    width: 100vw;
    background-color: rgb(250, 235, 215);
    overflow: hidden;
}

.navBar{
    background-color: black;
    height: 4rem;
    width: 100vw;
    display: flex;
    color: white;
    align-items: center;
}

.sLogo {

    margin-right: 1rem;
    margin-left: 1rem;
}

.textChange{
 font-size: larger;
    margin-right: 1rem;
    margin-left: 1.5rem;
}

.bgImage {
    display: flex;
    background-size: cover;
    position: relative;
    height: 700px;
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 1rem;
    z-index: 1;
}

#songTitle{
    position: absolute;
    margin-left: 270px;
    margin-top: 60px;
    color: aliceblue;
    z-index: 2;
}


.container{
    position: relative;
    z-index: 6;
    display: flex;
}

.songContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}
.songList {
    background-color: aliceblue;
    display: flex;
    margin-left: -1440px;
    margin-top: 132px;
    margin-bottom: -2rem;
    height: 60px;
    width: 475px;
    z-index: 9;
    border-radius: 3rem;
}

.songLogo {

    border: 1px solid red;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    border-radius: 9rem;
}

.songName {

    border: 1px solid red;
    width: 20px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    margin-top: 10px;
    width: 300px;
}

.songDuration {

    border: 1px solid red;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 40px;
    width: 60px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 2rem;
    height: 135px;
}

.slider {
    width: 80vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

#sliderSong{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
